kameleo.local_api_client==4.2.1

## higher versions of Selenium and Playwright conflict with pyppeteer here, but work fine with kameleo.local_api_client
selenium==4.32.0
## we recommend playwright<1.47.0 or playwright>=1.53.0 to avoid detection
playwright==1.46.0
pyppeteer==2.0.0