kameleo.local_api_client==5.1.0

## higher versions of Selenium and Playwright conflict with pyppeteer here, but work fine with kameleo.local_api_client
selenium==4.32.0
## see recommended versions to avoid Playwright detection: https://developer.kameleo.io/integrations/playwright/
playwright==1.46.0
pyppeteer==2.0.0