ARTIFACTORY_HOSTNAME=
ARTIFACTORY_USERNAME=
ARTIFACTORY_PASSWORD=

# Kameleo settings
KAM_EMAIL=
KAM_PASSWORD=
KAM_PORT=               # optional
KAM_VERBOSE=            # optional
PROXY_USERNAME=
PROXY_PASSWORD=

# Playwright settings
PW_RETRIES=             # optional
PW_WORKERS=             # optional